<div class="parent">
<div class="widgets">
  <div class="widget">
    <img src="assets/icon/favicon.png" class="widget-img" />
    <p class="title">sadadasd</p>
  </div>
  <div class="widget">
    <img src="assets/icon/favicon.png" class="widget-img" />
    <p class="title">sadadasd</p>
  </div>
  <div class="widget">
    <img src="assets/icon/favicon.png" class="widget-img" />
    <p class="title">sadadasd</p>
  </div>
  <div class="widget">
    <img src="assets/icon/favicon.png" class="widget-img" />
    <p class="title">sadadasd</p>
  </div>
  <div class="widget">
    <img src="assets/icon/favicon.png" class="widget-img" />
    <p class="title">sadadasd</p>
  </div>
  <div class="widget">
    <img src="assets/icon/favicon.png" class="widget-img" />
    <p class="title">sadadasd</p>
  </div>
  <div class="widget">
    <img src="assets/icon/favicon.png" class="widget-img" />
    <p class="title">sadadasd</p>
  </div>
  <div class="widget">
    <img src="assets/icon/favicon.png" class="widget-img" />
    <p class="title">sadadasd</p>
  </div>
</div>
</div>
