.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

.display-flex {
    display: flex !important;
}

.text-right {
    text-align: right !important;
}

.padding-left {
    padding-left: 30px;
}

.bg-dark-red {
    background-color: $dark-red;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .pd-10 {
     padding: 10px;
 }

 .width-100 {
     width: 100%;
 }