/* Colors */
$dark-red: rgba(198, 65, 51, 1);
$red: rgba(231, 76, 60, 1);
$soft-white: #F8F8F8;
$soft-grey: #D9DBE6;
$grey: grey;
$white: white;
$bg-white: rgb(237, 238, 240);
$soft-black: rgb(75, 75, 75);

/* Sizes */
$input-height: 250px;